*{
    margin: 0;
}

 h1,h2,h3,h4,h5,h6{
    font-family: sans-serif;
    /* text shadow : x-axis , y-axis , blur radius , color*/
    text-shadow:0 0 4px #fff;
}

.container{
    padding: 30px 50px;
}


 .level-2{
    text-align: center;
    font-size: 40px;
    color:#333;
    font-family: monospace;
    text-decoration: underline;
    text-shadow:0 0 4px #ccc;
 }


main{
    padding:40px;
    text-align: center;
    background-image: url(https://cdn.pixabay.com/photo/2017/03/25/17/55/colorful-2174045_1280.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-position: top;
    background-size: cover;
    color:white;
}

main img{
width:150px;
height:150px;
border-radius: 50%;
filter: drop-shadow( 0 0 4px #000);

}


main button{
    padding:10px 12px;
    background-color: white;
    border-color:transparent ;
    margin-top: 16px;
    border-radius: 4px;
    /* x-axis, y-axis , blur radius , spread radius, color */
    box-shadow: 0 0 4px 0 #000;
}


#img2{
   filter: drop-shadow( 2px 2px 4px #000);
}